$color-pallet:(success:#6fb586 , warninig: #f90, danger:#ff5600);
$font-family-base:'Segoe UI';
$font-size-base: 1rem;
$font-weight-base: regular;
$line-height-base: 1.5;
$body-color:#323232;
$body-bg:#f4f4f4;
$dt-font-weight:400;
$link-color:white;
$link-decoration:none;
$link-hover-color:white;
$link-hover-decoration:none;
$text-muted:#333;
$cursor-disabled: disabled;
$table-cell-padding:7px;
$table-bg:$body-bg;

