@import './variables';
@import "./reset";
@import"./mixins";
$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;
@mixin respond-to($breakpoint) {

  @if map-has-key($breakpoints, $breakpoint) {
    
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
     + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
body{
    position: relative;
}
.light{
    color: white;
    span{
        padding-left: .7rem;
    }
}

.container-fulid{
    padding:  2rem;
}
.container{
    width: 80%;
    margin: auto;
}
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.upper{
    text-transform:uppercase;
}
header{
    @include respond-to('small'){
     justify-content: space-around!important;
    }
    width: 100%;
    background-color: rgba($color: #000000, $alpha:0.6);
    position:absolute;
    top:0;
    z-index: 9;
    .logo{
        @include respond-to('small'){
            flex-basis: 5%;
           }
        flex-basis: 10%;
        
    }
    nav{ 
        @include respond-to('small'){
        display: none;
        width: 0;
        padding: 0%;
        margin: 0%;
        flex-basis: 0%;
       }
        flex-basis: 60%;
        a{
            @include respond-to('small'){
                display: none;
            }
            position: relative;
            display: inline-block;
            overflow: hidden;
            padding-bottom: .5rem;
            &::after{
                content: "";
                background: map-get($color-pallet, "success");
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: -100%;
                transition: .5s;
            }
            &:hover::after{
                left: 0;
            }
        }
        .sub-menu-1{
            position: absolute;
            bottom:-50%;
            background-color: black;
             width: 0%;
            a{
                display: block;
            }
        }
        div.chk{
            transform: rotate(180deg);
        }
        .sub-menu-2{
            position: absolute;
            background-color: black;
            right: 25%;
            top: 60%;
            width: 0%;
            z-index: 9;
            a{
                display: block;
            }
            .new-1 , .new-2{
                padding: .2rem;
                background-color: #ee4e4e;
                margin: .5rem;
            }
        }        
        
        
    }
    .cta{
        @include respond-to('small'){
            flex-basis: 10%;
           }
        flex-basis: 20%;
        text-align: center;
        #book{
            @include before-sweeping(#c7c732);
            padding:.5rem;
            display: inline-block;
            vertical-align: middle;
            @include respond-to('small'){
                padding: 1.5 rem;
                font-size: smaller;
                width: 100px;
            }
            
            
            &:before{
                content: "";
                @include sweeping(white)
            }
            &:hover,
            &:focus,
            &:active {
              color:#c7c732;
            }
            &:hover:before,
            &:focus:before,
            &:active:before {
              -webkit-transform: scaleY(1);
               transform: scaleY(1);
            }
        }
    }    
    .extra{
        color: white;
        
    }
    .three {
        @include respond-to('small'){
            margin-left:0;
        }
        margin-left: 2rem;
        width: 10%; 
    }
    .col {
        display: flex;
        float:left;
        align-items: center;
    }
    
    .hamburger{
        @include respond-to('small'){
            margin-left: 0;
        }
     margin-left: 1rem;
    }
      .line{
        background-color: #fff;
        width: 20px;
        height: 1px;
        margin: 5px 0;
        display: block;
       transition: .5s;
       transform-origin: left;
      }
    .hamburger:hover{
        cursor: pointer;
    }
    #hamburger-1.is-active .line:nth-child(1){
    
        -webkit-transform: translateY(13px) rotate(-45deg);
        -ms-transform: translateY(13px) rotate(-45deg);
        -o-transform: translateY(13px) rotate(-45deg);
        transform: translateY(13px) rotate(-45deg);
    }
    #hamburger-1.is-active .line:nth-child(2){
        opacity: 0;
    }
    #hamburger-1.is-active .line:nth-child(3){
        -webkit-transform: translateY(-13px) rotate(45deg);
        -ms-transform: translateY(-13px) rotate(45deg);
        -o-transform: translateY(-13px) rotate(45deg);
        transform: translateY(-13px) rotate(45deg);
    }
       
}
.drawer-menu{
    overflow:auto;
    position: fixed;
    height: 100vh;
    right: 0;
    background-color: #111;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 0vw;
    padding-top: 110px;
    line-height: 30px;
    .justifying{
      padding-left: 20px;
      a{
         text-transform: uppercase;
         color: #fff;
         text-decoration: none;
         font-size: 16px;
         position: relative;
         display: inline-block;
         overflow: hidden;
         padding-bottom: .5rem;
          &::after{
             content: "";
             background: map-get($color-pallet, "success");
             width:100%;
             height: 2px;
             position: absolute;
             bottom: 0;
             left: -100%;
             transition: .5s;
            }
           &:hover::after{
              left: 0;
            }
        }
    }
    .border-side{
      display: flex;
      flex-direction: column;
      border-left: 1.5px solid #fff;
      margin-left: 10px;
      padding-left: 10px;
      a{
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        font-size: 13px;
      } 
    }
    
}
.owl-carousel {
    .owl-nav.disabled{
        display: block !important;
    }
    .slider-1{
        position: relative;
        background-image: url("../images/spa.jpg");
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: 50% 40%;
        background-repeat: no-repeat;
       
    }
    .slider-2{
        position: relative;
        background-image: url(../images/slider_n_1.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .slider-3{
        position: relative;
        background-image: url(../images/slide_n_2_o.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
                
    }
}
.prev-slide {
    position: absolute;
    top: 50% !important;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    font-size: 20px;
}
.next-slide {
    position: absolute;
    top: 50% !important;
    right: 0 !important;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    font-size: 20px;
}

.slider-caption {
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
    font-size: 30px;
    color: #fff !important;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 2px;
    h3 {
      user-select: none;
    }
    button {
      @include before-sweeping(transparent);
      padding: 12px 30px;
      border: 1px solid #fff;
      color: white;
      cursor: pointer;
      &:before{
        content: "";
        @include sweeping(white);
     }
      &:hover,
      &:focus,
      &:active {
        color:#2b1a49;
      }
      &:hover:before,
      &:focus:before,
      &:active:before {
          -webkit-transform: scaleY(1);
          transform: scaleY(1);
      }
    }
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
  
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
}
  
.fadeInUp {
    animation-name: fadeInUp;
}
  
.booking {
    background-color: #111118;
    width: 70%;
    height: 250px;
    position : absolute;
    top:16%;
    z-index: 4;
    left :15%;
    @include respond-to('small'){
        height: 400px;
        top:15%;

    }
    
    text-align: center;
    .dates {
      padding: 2rem 0 ;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 1rem;
    }
    label {
      flex-basis: 50%;
      color: #ffffff;
      display: block;
      font-size: x-small;
      letter-spacing: 1px;
      margin-bottom: 10px;
      margin-top: 10px;
      text-transform: uppercase;
      text-align: center;
    
    }
    input {
        padding: 28px 10px;
        font-size: 20px;
        font-weight: 200;
        box-shadow: none;
        line-height: 1.5;
        width: 100%;
        text-align: center;
        background-color: #1f1f2c;
        border: 1px solid #1f1f2c !important;
        color: #ffffff;
        transition: border-color 0.15s ease-in-out 0s,
          box-shadow 0.15s ease-in-out 0s;
        &::placeholder {
          color: #ffff !important;
        }
    }
   #quote{
       @include before-sweeping(transparent);
       padding: 1rem;
       color:map-get($color-pallet , "success" );
       border: 1px solid map-get($color-pallet , "success" );
      
       &:before{
          content: "";
          @include sweeping(#6fb586);
       }
        &:hover,
        &:focus,
        &:active {
            color:white;
        }
        &:hover:before,
        &:focus:before,
        &:active:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
    }
   
}

.modal {
    display: none;
    width: 56%;
    height: 93%;
    top: 5%;
    left: 20%;
    position: fixed;
    z-index: 40001;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    animation-name: fadeIn_Modal;
    animation-duration: 0.8s;
}
.hdr{
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid #ccc;
    a {
        text-decoration: none;
        float: right;
        line-height: 70px;
        margin-right: 20px;
        color: #aaa;
    }
}
.cntnt {
    width: 100%;
    // height: 250px;
}
.cntnt table {
    width: 100%;
    // #tbody{
    //    width: 100%;
    // }
}
.cntnt table,th,td {
 border: 1px solid;
}
.cntnt th,td {
    padding: 15px;
    text-align: center;
}
  
.intro{
    position: relative;
    margin-top:15rem ;
    text-align: center;
    #back{
        @include respond-to('small'){
            font-size: 3rem;
            opacity: 0;
        }
        font-size: 10rem;
        color:#dad8d8;
        margin-bottom: 0;
        padding-bottom: 0;
      
    

    }
    #xenia{
        @include respond-to('small'){
            top: 2%;
        }
        text-align: center;
        position:absolute;
        top:15%;
        left: 10%;
        right: 10%;
        
    }
    p{
        
        color:gray;
        font-weight:lighter;
        margin-bottom: 3rem;
    }
    img{
        width: 70px;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    .true{
        margin-bottom: 0;
    }
    .last{
        font-size: xx-small;
    }
}
#svg-holder{
    @include respond-to('small'){
        margin-top: 19%;
        margin-bottom: 0;
    }
}
.card{
    @include respond-to('small'){
        flex-direction: column;
        height: 150vh;
        column-gap: 3%;
        
    }
    img{
        width: 200px;
        padding: 1rem 2rem;
    }
    p{
        color: white;
        font-size: xx-large;
        padding: 1rem 2rem;
    }
    
    .card-1{
        @include respond-to('small'){
            width: 100%;
            @include before-sweeping(transparent);
            &:before{
                content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore corrupti similique quam amet deleniti praesentium sapiente aperiam, aliquam maxime dolore obcaecati animi debitis laborum voluptatibus illo doloremque, quia, iste laudantium.";
                @include sweeping(rgba(0,0,0,.5));
                display: flex;
                flex-direction: column;
                justify-content:center;
                padding: 1rem;
                
            }
            &:hover,
                &:focus,
                &:active {
                  color:white;
                  .item{
                    display: none ;
                   }
                }
                &:hover:before,
                &:focus:before,
                &:active:before {
                  -webkit-transform: scaleY(1);
                   transform: scaleY(1);
                }
        }
        flex-basis:32%;
        background-image: url(../images/spa-banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include before-sweeping(transparent);
        &:before{
            content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore corrupti similique quam amet deleniti praesentium sapiente aperiam, aliquam maxime dolore obcaecati animi debitis laborum voluptatibus illo doloremque, quia, iste laudantium.";
            @include sweeping(rgba(0,0,0,.5));
            display: flex;
            flex-direction: column;
            justify-content:center;
            padding: 1rem;
            
        }
        &:hover,
            &:focus,
            &:active {
              color:white;
              .item{
                display: none ;
               }
            }
            &:hover:before,
            &:focus:before,
            &:active:before {
              -webkit-transform: scaleY(1);
               transform: scaleY(1);
            }
    }
    
    .card-2{
        @include respond-to('small'){
           
            width: 100%;
        }
        flex-basis:32%;
        background-image: url(../images/gym-banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include before-sweeping(transparent);
        &:before{
            content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore corrupti similique quam amet deleniti praesentium sapiente aperiam, aliquam maxime dolore obcaecati animi debitis laborum voluptatibus illo doloremque, quia, iste laudantium.";
            @include sweeping(rgba(0,0,0,.5));
            display: flex;
            flex-direction: column;
            justify-content:center;
            padding: 1rem;
            
        }
        &:hover,
            &:focus,
            &:active {
              color:white;
              .item{
                display: none ;
               }
            }
            &:hover:before,
            &:focus:before,
            &:active:before {
              -webkit-transform: scaleY(1);
               transform: scaleY(1);
            }
    }
    .card-3{
        @include respond-to('small'){
            
            width: 100%;
        }
        flex-basis:32%;
        background-image: url(../images/restaurant-banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include before-sweeping(transparent);
        &:before{
            content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore corrupti similique quam amet deleniti praesentium sapiente aperiam, aliquam maxime dolore obcaecati animi debitis laborum voluptatibus illo doloremque, quia, iste laudantium.";
            @include sweeping(rgba(0,0,0,.5));
            display: flex;
            flex-direction: column;
            justify-content:center;
            padding: 1rem;
            
        }
        &:hover,
        &:focus,
        &:active {
            color:white;
            .item{
              display: none ;
            }
        }
        &:hover:before,
        &:focus:before,
        &:active:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
    }
}
.room{
    height: 43vh;
    background-image: url(../images/home-banner-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    h1{
        text-align: center;
        padding-top: 5rem;
    }
    p{
        text-align: center;
        a{
            @include before-sweeping(transparent);
            color: gray;
            padding: .7rem;
            border:1px solid black;
            font-size: small;
            &:before{
                content:"";
                @include sweeping( #323232);
            }
            &:hover,
            &:focus,
            &:active {
                color:white;
            }
            &:hover:before,
            &:focus:before,
            &:active:before {
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
            }
           
        }
    }
    .holder{
        text-align: center;
        color: gray;
        font-size: large;
        margin-bottom: 2rem;
    }
}
.slideshow{
    padding: 4rem 0;
    background-color: #111118; 
    position: relative;
    .mySlides{
        @include respond-to('small'){
            flex-direction: column-reverse;
            height: 600px;
        }
       display: none;
    }
    h1, h6{
     font-weight:normal;
    }
    .slide1{
        
        flex-basis: 50%;
        background-image: url(../images/room_1_n_1-1024x683.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
    }
    .room-info{
      flex-basis: 50%;
      background-color:#171720;
      color:white;
      padding: 2rem;
      i{
        margin-right:1rem ;
       }
      a{
        color: map-get($color-pallet , 'success' );
      }
    }
    .slide2{
        flex-basis: 50%;
        background-image: url(../images/room-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
    }
    .slide3{
        flex-basis: 50%;
        background-image: url(../images/room-3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
    }
    .slide4{
        flex-basis: 50%;
        background-image: url(../images/room-2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
    }
}
  
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background:#111118;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #3b3b3b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
.actives{
    background-color:white;
}
.testimonial {
    text-align: center;
    margin-top: 3%;
    line-height:50px;
    
}
.t-slider{
    @include respond-to('small'){
        width: 100%;
        height: 80px ;
        padding: .3rem;
         
    }
    padding: 2rem;
    height:250px;
   
      
    .s-1{
        @include respond-to('small'){
            flex-basis: 100%;
             
        }
       
        flex-basis: 15%;
        width: 70px;
        height: 70px;
        background-image: url(../images/profile-2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }
    .s-2{
        @include respond-to('small'){
            flex-basis: 100%;
             
        }
       
        flex-basis: 32%;
        width: 70px;
        height: 70px;
        background-image: url(../images/profile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        border-radius: 50%;
    }
    .s-3{
        @include respond-to('small'){
            flex-basis: 100%;
             
        }
       
        flex-basis: 18%;
        width: 70px;
        height: 70px;
        background-image: url(../images/avatar-1-70x70.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        border-radius: 50%;
    }
    .s-4{
        @include respond-to('small'){
            flex-basis: 100%;
             
        }
       
        flex-basis: 25%;
        width: 70px;
        height: 70px;
        background-image: url(../images/avatar-3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        border-radius: 50%;
    }
    .s-5{
        @include respond-to('small'){
            flex-basis: 100%;
             
        }
       
        flex-basis: 30%;
        width: 70px;
        height: 70px;
        background-image: url(../images/avatar-4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        border-radius: 50%;
    }
    .s-6{
        @include respond-to('small'){
            flex-basis: 100%;
             
        }
       
        flex-basis: 26%;
        width: 70px;
        height: 70px;
        background-image: url(../images/avatar-2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        border-radius: 50%;
    }
    .opinion{
        @include respond-to('small'){
            padding-left: .5rem;
            padding-bottom: 3%;
            
        }
        padding-left: 2rem;
        p{
            @include respond-to('small'){
                font-size: smaller;

                
            }
            background-color: #f4f4f4;
            color: #323232;
            font-size: 20px;
            font-weight:normal;
            line-height: 1.5;
            overflow-x: hidden;
        }
        .testimonial_author{
            font-size: 16px;
            font-weight: 500;
        }
        .testimonial_author_role{
            font-size: 15px;
            font-style: italic;
            color:gray;
        }
    }
   
}
.dots-container {
    @include respond-to('small'){
        margin-top:17rem;
         
    }
   
    text-align: center;
    padding: 20px;
    background:#f4f4f4;
}
.dott {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #3b3b3b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  
}
.actv{
    background-color:white;
    border: 1px solid #3b3b3b;
}
#back-to-top {
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility:hidden;
    z-index: 1000;
    transition: all .3s ease;
    &::after {
        content: "^";
        font-family:$font-family-base;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        line-height: 50px;
        color: #fff;
    }
    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: rgba(0,0,0,0.7);
    }
    
}
.showing {
    opacity: 1 !important;
    visibility: visible !important;
}
  
footer{
    background-color: #111118; 
    padding: 2rem;
    margin-top: 2%;
    text-align: center;
    .contact{
        @include respond-to('small'){
            flex-direction:column ;
             
        }
        div{
            @include respond-to('small'){
                width: 100%; 
                 
            }
        }
       
        justify-content: space-evenly;
        align-items:center;
        // padding: 2rem 0;
        i{
           padding: 1rem;
           border: 1px solid gray;
           border-radius: 50%;
           margin-right: .5rem;
        }
         span{
           
             color: #ffff;
             font-weight: lighter;
        }
        .mail:hover{
            color: map-get($color-pallet,'success' );
            cursor: pointer;
        }
        .fa-location-arrow:hover{
          background-color: map-get($color-pallet,'success' );
        }
    }
}
.sub-footer{
    background-color: #171720;
    @include respond-to('small'){
        flex-direction:column ;
         
    }
    
    
    span{
        color: white;
        font-weight: lighter;
        font-size: small;
    }
    .nav{
     justify-content: space-evenly;
      a{
        padding-right: .4rem;
         font-weight: lighter;
         font-size: small;
         &:hover{
             color: map-get($color-pallet,'success' );
            }
        }
    }
     
}
.container-fulid-2{
    padding: 0 1.5rem;
}
  